train_images: "C:/Users/Dell Precision 7810/Desktop/quangvinh_workspace/Datasets/CRACK500/crack500/train/images"
train_masks:  "C:/Users/Dell Precision 7810/Desktop/quangvinh_workspace/Datasets/CRACK500/crack500/train/masks"
val_images:   "C:/Users/Dell Precision 7810/Desktop/quangvinh_workspace/Datasets/CRACK500/crack500/val/images"
val_masks:    "C:/Users/Dell Precision 7810/Desktop/quangvinh_workspace/Datasets/CRACK500/crack500/val/masks"
mask_prefix: "auto"
output_dir: "output_results"
preprocess: "letterbox" # Activates New CrackDataset + Albumentations
input_size: 512
patches_per_image: 1 # Ignored (only for patch mode)
max_patch_tries: 1    # Ignored
val_stride: 0         # Ignored
batch_size: 8
epochs: 100
seed: 42    
no_augment: false
cache_dir: null
cache_rebuild: false
no_visualize: true
no_loss_curve: true
visualize_every: 0
pos_weight: 5.0
bce_weight: 0.5
dice_weight: 0.5
metric_threshold: 0.5
metric_thresholds: ""
scheduler_metric: "loss"
learning_rate: 0.0005
weight_decay: 0.00001
scheduler_factor: 0.5
scheduler_patience: 10
early_stop_patience: 100 # Run full epochs
num_workers: 16
persistent_workers: true # Keep workers alive
pin_memory: true
prefetch_factor: 2