absl-py
albucore
albumentations
annotated-types
appnope
asttokens
certifi
charset-normalizer
colorama
comm
contextlib2
contourpy
cycler
debugpy
decorator
einops
et_xmlfile
executing
filelock
fonttools
fsspec
h5py
hf-xet
huggingface-hub
icecream
idna
imageio
ipykernel
ipython
ipython-pygments-lexers
jedi
Jinja2
joblib
jupyter-client
jupyter-core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
MedPy
ml_collections
monai
mpmath
nest-asyncio
networkx
nibabel
numpy
opencv-python
opencv-python-headless
openpyxl
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pydantic
pydantic-core
Pygments
pyparsing
PySide6
PySide6-Addons
PySide6-Essentials
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
safetensors
scikit-learn
scipy
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@dca509fe793f601edb92606367a655c15ac00fdf
setuptools
shiboken6
simpleitk
simsimd
six
stack-data
stringzilla
sympy
tensorboardX
threadpoolctl
timm
tokenizers
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typing-inspection
typing-extensions
tzdata
urllib3
wcwidth
wheel
